<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="content">
        <section>
            <h2 class="page__title"><a class="btn btn-back" href="/dashboard"><i class='bx bx-arrow-back'></i></a> <%= title %></h2>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
                <table class="admin__table">
                    <div class="admin__controls">
                        <a class="badge badge--all <%= activeBtn === "all" ? "active--badge" : "" %>" href="/admin">All Tasks</a>
                        <a class="badge badge--pending <%= activeBtn === "pending" ? "active--badge" : "" %>" href="/admin/pending-tasks">Pending</a>
                        <a class="badge badge--active <%= activeBtn === "active" ? "active--badge" : "" %>" href="/admin/active-tasks">Active</a>
                        <a class="badge badge--hold <%= activeBtn === "hold" ? "active--badge" : "" %>" href="/admin/hold-tasks">On Hold</a>
                        <a class="badge badge--reviewing <%= activeBtn === "reviewing" ? "active--badge" : "" %>" href="/admin/review-tasks">Needs Review</a>
                        <a class="badge badge--complete <%= activeBtn === "complete" ? "active--badge" : "" %>" href="/admin/completed-tasks">Completed</a>
                    </div>
                    <% if(tasks.length <= 0) { %>
                        <div class="tasks__not-found">
                            <i class='icon__error bx bx-error-circle'></i>
                            <h3 class="not-found__message">You don't have any tasks yet!</h3>
                        </div>
                    <% } else { %>
                        <tr class="table--header">
                            <th>Submitted On</th>
                            <th>Title</th>
                            <th>Submitted By</th>
                            <th>Assigned To</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <% for(let task of tasks) {%>
                            <tr>
                                <td><%= task.createdAt %></td>
                                <td><%= task._doc.title %></td>
                                <td><%= task._doc.createdBy.username %></td>
                                <% if(!task._doc.assignedTo.userId) { %>
                                    <td><span class="badge badge--pending">Not Assigned</span></td>
                                <% } else { %>
                                    <td><%= task._doc.assignedTo.username %></td>
                                <% } %>
        
                                <td><span class="badge badge--<%= task._doc.status %>"><%= task._doc.status %></span></td>
                                <% if(task._doc.status !== 'pending') { %>
                                    <td><a class="btn--table" href="/admin/admin-edit/<%= task._doc._id %>">Edit</a></td>
                                <% } else { %>
                                    <td><a class="btn--table" href="/admin/admin-edit/<%= task._doc._id %>">Assign</a></td>
                                <% } %>
                                <td><a class="btn--table" href="/task/<%= task._doc._id %>">View</a></td>
                            </tr>
                            <% } %>
                    <% } %>
                </table>
                <% if(tasks.length > 0) { %>
                    <%- include("../includes/pagination.ejs"); %>
                <% } %>
        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function formatDate(date) {
            const months = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December',
            ];

            const currDate = new Date(date);
            let month = months[currDate.getMonth()];
            let year = currDate.getFullYear();
            let day = currDate.getDate();
            return `${month} ${day}, ${year}`;
        }

        const taskLinks = document.querySelectorAll(".card__link");
        var socket = io();
        socket.on('tasks', data => {
            if(data.action === "create") {
                const tableHeader = document.querySelector(".table--header");
                const row = document.createElement("tr");
                const createdAt = document.createElement("td");
                const title = document.createElement("td");
                const username = document.createElement("td");
                const assignedTo = document.createElement("td");
                const status = document.createElement("td");
                const assign = document.createElement("td");
                const view = document.createElement("td");
                const assignLink = document.createElement("a");
                const viewLink = document.createElement("a");
                const statusBadge = document.createElement("span");
                const assignedBadge = document.createElement("span");

                createdAt.innerText = formatDate(data.task.createdAt);
                title.innerText = data.task.title;
                username.innerText = data.task.createdBy.username;

                assignedBadge.innerText = "pending"
                assignedBadge.classList.add("badge");
                assignedBadge.classList.add("badge--pending");
                assignedTo.append(assignedBadge);

                statusBadge.innerText = data.task.status;
                statusBadge.classList.add("badge");
                statusBadge.classList.add("badge--pending");
                status.append(statusBadge);

                assignLink.innerText = "Assign";
                viewLink.innerText = "View";

                assignLink.setAttribute("href", "/admin/admin-edit/" + data.task._id);
                viewLink.setAttribute("href", "/task/" + data.task._id);

                assignLink.classList.add("btn--table");
                viewLink.classList.add("btn--table");

                assign.append(assignLink);
                view.append(viewLink);

                row.append(createdAt);
                row.append(title);
                row.append(username);
                row.append(assignedTo);
                row.append(status);
                row.append(assign);
                row.append(view);

                tableHeader.after(row);
            }
        })
    </script>
<%- include("../includes/footer.ejs")%>`