<%- include("../includes/header.ejs")%>
<title><%= pageTitle %></title>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="content">
        <section>
            <h1 class="page__title"><a class="btn btn-back" href="/tasks"><i class='bx bx-arrow-back'></i></a><%= pageTitle %></h1>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
            <% if(errorMessage) { %>
                <div class="invalid"><%= errorMessage %></div>
            <% } %>
            <form action="/tasks/create-task" method="POST" enctype="multipart/form-data">
                <div class="form__control">
                    <label for="title">Title</label>
                    <input type="text" placeholder="Enter the tasks title" id="title" name="title">
                </div>
                <div class="form__control">
                    <label for="description">Description</label>
                    <textarea name="description"></textarea>
                </div>
                <div class="form__control">
                    <label for="images">Upload Image</label>
                    <input 
                        class="file__upload"
                        type="file" 
                        name="images" 
                        id="images"
                        multiple
                    >
                </div>
                <div class="form__control">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <button type="submit" class="btn btn-submit">Submit Ticket</button>
                </div>
            </form>
        </section>
    </main>
    <script>
        const imageUpload = document.querySelector("#images");
        imageUpload.addEventListener("change", () => {
            const files = imageUpload.files;

            if(files.length > 3) {
                alert("Only 3 files may be uploaded");
                imageUpload.value = null;
                return;
            }
        })

        
    </script>
<%- include("../includes/footer.ejs")%>