<%- include("../includes/header.ejs")%>
    <title><%= title %></title>
</head>

<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="content">
        <div class="page__header">
            <h1 class="page__title">Tasks</h1>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
            <div class="controls">
                <form action="/search">
                    <label for="search"><i class='bx bx-search'></i></label>
                    <input type="text" name="search">
                </form>
                <a href="/tasks/create-task" class="btn">Create Task</a>
            </div>
        </div>
        <div class="filter">
            <p class="">Filter: </p>
            <a href="/tasks/high" class="badge badge--high">High</a>
            <a href="/tasks/medium"  class="badge badge--medium">Medium</a>
            <a href="/tasks/low"  class="badge badge--low">Low</a>
        </div>
        <% if(tasks.allTasks.length > 0) { %>
            <div class="task__categories">
                <div class="task__category category__body--pending">
                    <div class="task__category--header">
                        <h2 class="task__category--title"><i class='icon--pending bx bx-loader-circle' ></i> Pending</h2>
                    </div>
                    <div class="task__category--body" id="pending">
                        <% if(tasks.pendingTasks.length > 0) { %>
                            <% for(let task of tasks.pendingTasks) { %>
                                <a class="card__link tid-<%= task._doc._id %>" href="/task/<%= task._doc._id %>">
                                    <div class="card">
                                        <div class="card__due-date status--<%= task._doc.status %>">
                                            <p class="time--<%= task._doc.status %>">Due</p>
                                            <i class='icon--<%= task._doc.status %> bx bxs-calendar'></i>
                                            <p class="time--<%= task._doc.status %>">Not Set</p>
                                        </div>
                                        <div class="card__details">
                                            <div class="card__header">
                                                <div class="task__header--section">
                                                    <h3 class="card__title"><%= task._doc.title %></h3>
                                                    <div class="task__header--section">
                                                        <span class="badge badge--<%= task._doc.priority %>"><%= task._doc.priority %></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="card__options"><i class='bx bx-dots-horizontal-rounded' ></i></div> -->
                                            </div>
                                            <div class="card__body">
                                                <div class="card__grouping">
                                                    <div class="card__comments">
                                                        <p class="id-<%= task._doc._id %> task__comment--count"><%= task._doc.commentCount %></p>
                                                        <i class='task__comment--icon bx bx-comment'></i>
                                                    </div>
                                                    <p class="card__date">Created: <%= task.createdAtDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                            <a href="/tasks/pending" class="tasks__view tasks__view--pending">View All</a>
                        <% } else { %>
                            <div class="tasks__not-found--small">
                                <i class='icon__error--small bx bx-error-circle'></i>
                                <h3 class="not-found__message--small">You don't have any tasks yet!</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="task__category category__body--active">
                    <div class="task__category--header">
                        <h2 class="task__category--title"><i class='icon--active bx bx-hard-hat' ></i> Active</h2>
                    </div>
                    <div class="task__category--body" id="active">
                        <% if(tasks.activeTasks.length > 0) { %>
                            <% for(let task of tasks.activeTasks) { %>
                                <a class="card__link tid-<%= task._doc._id %>" href="/task/<%= task._doc._id %>">
                                    <div class="card">
                                        <div class="card__due-date status--<%= task._doc.status %>">
                                            <p class="time--<%= task._doc.status %>">Due</p>
                                            <i class='icon--<%= task._doc.status %> bx bxs-calendar'></i>
                                            <p class="time--<%= task._doc.status %>"><%= task.dueDate %></p>
                                        </div>
                                        <div class="card__details">
                                            <div class="card__header">
                                                <div class="task__header--section">
                                                    <h3 class="card__title"><%= task._doc.title %></h3>
                                                    <div class="task__header--section">
                                                        <span class="badge badge--<%= task._doc.priority %>"><%= task._doc.priority %></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="card__options"><i class='bx bx-dots-horizontal-rounded' ></i></div> -->
                                            </div>
                                            <div class="card__body">
                                                <div class="card__grouping">
                                                    <div class="card__comments">
                                                        <p class="id-<%= task._doc._id %> task__comment--count"><%= task._doc.commentCount %></p>
                                                        <i class='task__comment--icon bx bx-comment'></i>
                                                    </div>
                                                    <p class="card__date">Created: <%= task.createdAtDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                            <a href="/tasks/active" class="tasks__view tasks__view--active">View All</a>
                        <% } else { %>
                            <div class="tasks__not-found--small">
                                <i class='icon__error--small bx bx-error-circle'></i>
                                <h3 class="not-found__message--small">You don't have any tasks yet!</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="task__category category__body--hold">
                    <div class="task__category--header">
                        <h2 class="task__category--title"><i class='icon--hold bx bx-lock-alt'></i> On Hold</h2>
                    </div>
                    <div class="task__category--body" id="hold">
                        <% if(tasks.onHoldTasks.length > 0) { %>
                            <% for(let task of tasks.onHoldTasks) { %>
                                <a class="card__link tid-<%= task._doc._id %>" href="/task/<%= task._doc._id %>">
                                    <div class="card">
                                        <div class="card__due-date status--<%= task._doc.status %>">
                                            <p class="time--<%= task._doc.status %>">Due</p>
                                            <i class='icon--<%= task._doc.status %> bx bxs-calendar'></i>
                                            <p class="time--<%= task._doc.status %>"><%= task.dueDate %></p>
                                        </div>
                                        <div class="card__details">
                                            <div class="card__header">
                                                <div class="task__header--section">
                                                    <h3 class="card__title"><%= task._doc.title %></h3>
                                                    <div class="task__header--section">
                                                        <span class="badge badge--<%= task._doc.priority %>"><%= task._doc.priority %></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="card__options"><i class='bx bx-dots-horizontal-rounded' ></i></div> -->
                                            </div>
                                            <div class="card__body">
                                                <div class="card__grouping">
                                                    <div class="card__comments">
                                                        <p class="id-<%= task._doc._id %> task__comment--count"><%= task._doc.commentCount %></p>
                                                        <i class='task__comment--icon bx bx-comment'></i>
                                                    </div>
                                                    <p class="card__date">Created: <%= task.createdAtDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                            <a href="/tasks/on-hold" class="tasks__view tasks__view--hold">View All</a>
                        <% } else { %>
                            <div class="tasks__not-found--small">
                                <i class='icon__error--small bx bx-error-circle'></i>
                                <h3 class="not-found__message--small">You don't have any tasks yet!</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="task__category category__body--reviewing">
                    <div class="task__category--header">
                        <h2 class="task__category--title"><i class='icon--reviewing bx bx-glasses' ></i> In Review</h2>
                    </div>
                    <div class="task__category--body" id="review">
                        <% if(tasks.inReviewTasks.length > 0) { %>
                            <% for(let task of tasks.inReviewTasks) { %>
                                <a class="card__link tid-<%= task._doc._id %>" href="/task/<%= task._doc._id %>">
                                    <div class="card">
                                        <div class="card__due-date status--<%= task._doc.status %>">
                                            <p class="time--<%= task._doc.status %>">Due</p>
                                            <i class='icon--<%= task._doc.status %> bx bxs-calendar'></i>
                                            <p class="time--<%= task._doc.status %>"><%= task.dueDate %></p>
                                        </div>
                                        <div class="card__details">
                                            <div class="card__header">
                                                <div class="task__header--section">
                                                    <h3 class="card__title"><%= task._doc.title %></h3>
                                                    <div class="task__header--section">
                                                        <span class="badge badge--<%= task._doc.priority %>"><%= task._doc.priority %></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="card__options"><i class='bx bx-dots-horizontal-rounded' ></i></div> -->
                                            </div>
                                            <div class="card__body">
                                                <div class="card__grouping">
                                                    <div class="card__comments">
                                                        <p class="id-<%= task._doc._id %> task__comment--count"><%= task._doc.commentCount %></p>
                                                        <i class='task__comment--icon bx bx-comment'></i>
                                                    </div>
                                                    <p class="card__date">Created: <%= task.createdAtDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                            <a href="/tasks/in-review" class="tasks__view tasks__view--reviewing">View All</a>
                        <% } else { %>
                            <div class="tasks__not-found--small">
                                <i class='icon__error--small bx bx-error-circle'></i>
                                <h3 class="not-found__message--small">You don't have any tasks yet!</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="task__category category__body--complete">
                    <div class="task__category--header">
                        <h2 class="task__category--title"><i class='icon--completed bx bx-check' ></i> Completed</h2>
                    </div>
                    <div class="task__category--body" id="completed">
                        <% if(tasks.completedTasks.length > 0) { %>
                            <% for(let task of tasks.completedTasks) { %>
                                <a class="card__link tid-<%= task._doc._id %>" href="/task/<%= task._doc._id %>">
                                    <div class="card">
                                        <div class="card__due-date status--<%= task._doc.status %>">
                                            <p class="time--<%= task._doc.status %>">Due</p>
                                            <i class='icon--<%= task._doc.status %> bx bxs-calendar'></i>
                                            <p class="time--<%= task._doc.status %>"><%= task.dueDate %></p>
                                        </div>
                                        <div class="card__details">
                                            <div class="card__header">
                                                <div class="task__header--section">
                                                    <h3 class="card__title"><%= task._doc.title %></h3>
                                                    <div class="task__header--section">
                                                        <span class="badge badge--<%= task._doc.priority %>"><%= task._doc.priority %></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="card__options"><i class='bx bx-dots-horizontal-rounded' ></i></div> -->
                                            </div>
                                            <div class="card__body">
                                                <div class="card__grouping">
                                                    <div class="card__comments">
                                                        <p class="id-<%= task._doc._id %> task__comment--count"><%= task._doc.commentCount %></p>
                                                        <i class='task__comment--icon bx bx-comment'></i>
                                                    </div>
                                                    <p class="card__date">Created: <%= task.createdAtDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                        <a href="/tasks/completed" class="tasks__view tasks__view--complete">View All</a>
                        <% } else { %>
                            <div class="tasks__not-found--small">
                                <i class='icon__error--small bx bx-error-circle'></i>
                                <h3 class="not-found__message--small">You don't have any tasks yet!</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="task__category category__body--complete">
                    <div class="task__category--header">
                        <h2 class="task__category--title"><i class='icon--overdue bx bx-calendar' ></i> Overdue</h2>
                    </div>
                    <div class="task__category--body" id="overdue">
                        <% if(tasks.overdueTasks.length > 0) { %>
                            <% for(let task of tasks.overdueTasks) { %>
                                <a class="card__link tid-<%= task._doc._id %>" href="/task/<%= task._doc._id %>">
                                    <div class="card">
                                        <div class="card__due-date status--<%= task._doc.status %>">
                                            <p class="time--<%= task._doc.status %>">Due</p>
                                            <i class='icon--<%= task._doc.status %> bx bxs-calendar'></i>
                                            <p class="time--<%= task._doc.status %>"><%= task.dueDate %></p>
                                        </div>
                                        <div class="card__details">
                                            <div class="card__header">
                                                <div class="task__header--section">
                                                    <h3 class="card__title"><%= task._doc.title %></h3>
                                                    <div class="task__header--section">
                                                        <span class="badge badge--<%= task._doc.priority %>"><%= task._doc.priority %></span>
                                                    </div>
                                                </div>
                                                <!-- <div class="card__options"><i class='bx bx-dots-horizontal-rounded' ></i></div> -->
                                            </div>
                                            <div class="card__body">
                                                <div class="card__grouping">
                                                    <div class="card__comments">
                                                        <p class="id-<%= task._doc._id %> task__comment--count"><%= task._doc.commentCount %></p>
                                                        <i class='task__comment--icon bx bx-comment'></i>
                                                    </div>
                                                    <p class="card__date">Created: <%= task.createdAtDate %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                        <a href="/tasks/overdue" class="tasks__view tasks__view--overdue">View All</a>
                        <% } else { %>
                            <div class="tasks__not-found--small">
                                <i class='icon__error--small bx bx-error-circle'></i>
                                <h3 class="not-found__message--small">You don't have any tasks yet!</h3>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="tasks__not-found">
                <i class='icon__error bx bx-error-circle'></i>
                <h3 class="not-found__message">You don't have any tasks yet!</h3>
            </div>
        <% } %>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const userId = "<%= userId %>"
        
        function formatDate(date) {
            const months = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December',
            ];

            const currDate = new Date(date);
            let month = months[currDate.getMonth()];
            let year = currDate.getFullYear();
            let day = currDate.getDate();
            return `${month} ${day}, ${year}`;
        }

        function createTask(data) {
                const all = document.querySelector("#all");
                const pending = document.querySelector("#pending");
                const active = document.querySelector("#active");
                const hold = document.querySelector("#hold");
                const review = document.querySelector("#review");
                const complete = document.querySelector("#complete");
                const overdue = document.querySelector("#overdue");

                const cardLink = document.createElement("a");

                cardLink.setAttribute("href", "/task/" + data.task._id);
                cardLink.classList.add("card__link");
                cardLink.classList.add("tid-" + data.task._id);

                const card = document.createElement("div");
                card.classList.add("card");

                cardLink.append(card);

                const dueStatus = document.createElement("div");
                dueStatus.classList.add("card__due-date");
                dueStatus.classList.add("status--" + data.task.status);
                
                card.append(dueStatus);

                const duePara = document.createElement("p");
                duePara.classList.add("time--" + data.task.status);
                duePara.innerText = "Due";

                const calendar = document.createElement("i");
                calendar.classList.add("icon--" + data.task.status);
                calendar.classList.add("bx");
                calendar.classList.add("bxs-calendar");

                const dueDate = document.createElement("p");
                dueDate.classList.add("time--" + data.task.status);

                if(data.task.status === "pending") {
                    dueDate.innerText = "Not Set";
                } else {
                    dueDate.innerText = formatDate(data.task.dueDate);
                }

                dueStatus.append(duePara);
                dueStatus.append(calendar);
                dueStatus.append(dueDate);

                const details = document.createElement("div");
                details.classList.add("card__details");
                card.append(details);
                
                const header = document.createElement("div");
                header.classList.add("card__header");

                details.append(header);

                const headerSection = document.createElement("div");
                headerSection.classList.add("task__header--section");
                
                header.append(headerSection);

                const title = document.createElement("h3");
                title.classList.add("card__title");
                title.innerText = data.task.title;

                headerSection.append(title);

                const headerSection2 = document.createElement("div");
                headerSection2.classList.add("task__header--section");

                headerSection.append(headerSection2);


                if(data.task.priority) {
                    const badge = document.createElement("span");
                    badge.classList.add("badge");
                    badge.classList.add("badge--" + data.task.priority);
                    badge.innerText = data.task.priority;

                    headerSection2.append(badge);
                }

                const cardBody = document.createElement("div");
                cardBody.classList.add("card__body");
                details.append(cardBody);

                const grouping = document.createElement("div");
                grouping.classList.add("card__grouping");
                cardBody.append(grouping);

                const comments = document.createElement("div");
                comments.classList.add("card__comments");
                grouping.append(comments);

                const commentCount = document.createElement("p");
                commentCount.classList.add("id-" + data.task._id);
                commentCount.classList.add("task__comment--count");
                commentCount.innerText = data.task.commentCount;

                comments.append(commentCount);
                
                const icon = document.createElement("i");
                icon.classList.add("task__comment--icon");
                icon.classList.add("bx");
                icon.classList.add("bx-comment");

                comments.append(icon);
                const createdDate = document.createElement("p");
                createdDate.classList.add("card__date");
                createdDate.innerText = "Created: " + formatDate(data.task.createdAt);
                grouping.append(createdDate);

                if(data.task.status === "pending") {
                    pending.prepend(cardLink);
                    const notFound = document.querySelector("#pending .tasks__not-found--small");
                    notFound.remove();
                }

                if (data.task.status === "active") {
                    active.prepend(cardLink);
                    const notFound = document.querySelector("#active .tasks__not-found--small");
                    notFound.remove();
                } 
                
                if (data.task.status === "hold") {
                    hold.prepend(cardLink);
                    const notFound = document.querySelector("#hold .tasks__not-found--small");
                    notFound.remove();
                } 
                
                if (data.task.status === "reviewing") {
                    review.prepend(cardLink);
                    const notFound = document.querySelector("#review .tasks__not-found--small");
                    notFound.remove();
                } 
                
                if (data.task.status === "completed") { 
                    complete.prepend(cardLink);
                    const notFound = document.querySelector("#completed .tasks__not-found--small");
                    notFound.remove();
                }

                if (data.task.status === "overdue") { 
                    overdue.prepend(cardLink);
                    const notFound = document.querySelector("#overdue .tasks__not-found--small");
                    notFound.remove();
                }
        }

        const taskLinks = document.querySelectorAll(".card__link");
        var socket = io();
        socket.on('comments', data => {
            if(data.action === 'create') {
                for(let task of taskLinks) {
                    let href = task.getAttribute("href").split("/task/")[1];
                    if(data.comment.taskId === href) {
                        
                        const taskComments = document.querySelectorAll(`.id-${href}`);
                        for(let taskComment of taskComments) {
                            taskComment.innerText = data.task.commentCount;
                        }
                    }
                }
            } else if (data.action === 'delete') {
                for(let task of taskLinks) {
                    let href = task.getAttribute("href").split("/task/")[1];
                    if(data.task._id === href) {
                        const taskComments = document.querySelectorAll(`.id-${href}`);
                        for(let taskComment of taskComments) {
                            taskComment.innerText = data.task.commentCount;
                        }
                    }
                }
            }
        });

        socket.on('tasks', data => {
            console.log(data);
            if(data.action === 'delete') {
                const tasks = document.querySelectorAll(".tid-" + data.task._id);
                for(let task of tasks) {
                    task.remove();
                }
            } else if (data.action === "status" || data.action === "create") {
                // TODO: Remove tasks that are visible before updating them.
                createTask(data);
                
            } else if (data.action === "assign") {
                const tasks = document.querySelectorAll(".tid-" + data.task._id);
                for(let task of tasks) {
                    task.remove();
                }
                if(userId === data.task.assignedTo.userId) {
                    createTask(data);
                }
            } 
        })
    </script>
    <%- include("../includes/footer.ejs")%>